<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lr.maisvendas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_maisvendas"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_maisvendas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".tela.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tela.TelaInicialActivity" />
        <activity android:name=".tela.LoginActivity" />
        <activity android:name=".tela.ListaClientesActivity" />
        <activity android:name=".tela.CadastroClienteActivity" />
        <activity android:name=".tela.ListaPedidosActivity" />
        <activity android:name=".tela.CadastroPedidoActivity" />
        <activity android:name=".tela.ListaProdutosActivity" />
        <activity android:name=".tela.ConfiguracaoActivity" />
        <activity android:name=".tela.SincronicacaoManualActivity" />
        <activity android:name=".tela.DetalhesProdutoActivity" />
        <activity android:name=".tela.AgendaActivity" />
        <activity android:name=".tela.interfaces.CadastroAtividadeActivity"></activity>
    </application>

</manifest>